# http://monit-nagios-a/nagios3
# sudo htpasswd /etc/nagios3/htpasswd.users newuser
# ubuntu@monit-nagios-a:/etc/nagios3$ nagios3 -V|grep Nagios|head -n1
# Nagios Core 3.5.1

define host{
        use                     generic-host            ; Name of host template to use
        host_name               web-nginx-b
        alias                   web-nginx-b
        address                 web-nginx-b ; gotta love /etc/hosts
        }

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       web-nginx-b
        service_description             Disk Space
        check_command                   check_all_disks!20%!10%
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       web-nginx-b
        service_description             Current Load
                check_command                   check_load!5.0!4.0!3.0!10.0!6.0!4.0
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       web-nginx-b
        service_description             SSH Check
                check_command                   check_ssh!22!web-nginx-b
        }

